<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About_page</title>
    <style>
        body {
            background: linear-gradient(to right, #159957, #155799);
        }
    </style>
</head>
<body>

    <!-- <div class="container">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}">Go to home</a>
          </div>
        </nav>
      </div> -->

    <h1>This is a About page</h1>
    <a href="{% url 'index' %}">Go back</a>
</body>
</html>